* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-link {
	color: black;
}

header {
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.nav-link:hover {
	color: orange;
	transform: rotate(5deg);
}

.fs-4 {
	margin-right: 75px;
}

#company-logo {
	width: 100%;
	height: 15px;
	margin-right: px;
}

.bi {
	top: 0;
}

#nav-bar {
	height: 70px;
}

.header-container {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	border: 1px solid black;
}

#background-image {
	object-fit: cover;
	opacity: 20%;
	z-index: 1;
	height: 60%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: 30px;
}

.title h1 {
	font-weight: bold;
}

.title-black {
	color: black;
}

.title-orange {
	color: rgb(252, 169, 16);
}

.title {
	font-size: 50px;
	color: white;
	position: absolute;
	justify-content: center;
	justify-self: center;
	top: 25%;
	text-align: center;
	z-index: 2;
}

.container {
	text-align: center;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 650px;
	width: 100%;
	height: 500px;
	justify-content: center;
}

#state-title {
	text-decoration: underline;
	display: flex;
	color: black;
	z-index: 1;
	top: 575px;
	position: absolute;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.state-image {
	display: grid;
	position: absolute;
	top: 688px;
	width: 40px;
	justify-self: left;
	align-items: left;
}

.state-text {
	display: grid;
	text-align: Left;
	padding-left: 55px;
	font-size: 1.8vh;
	color: black;
	font-weight: 400;
	padding-right: 5px;
	width: 325px;
}

.state-inner-title {
	display: grid;
	font-weight: bold;
	text-align: left;
	padding-left: 55px;
	padding-top: 40px;
	font-size: 2.4vh;
	color: black;
}

@media screen and (max-width: 1000px) {
	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: 700px;
		width: 420px;
	}
	.state-text {
		display: grid;
		text-align: left;
		padding-left: 0px;
		font-size: 1.8vh;
		color: black;
		font-weight: 400;
		padding-left: 56px;
		width: 450px;
	}
	.state-image {
		display: grid;
		top: 688px;
		width: 40px;
		justify-self: left;
		align-items: left;
	}
	#image-1 {
		padding-top: 230px;
	}
	#image-2 {
		padding-top: 465px;
	}
}
